absl-py==2.1.0
Adafruit-ADS1x15==1.0.2
Adafruit-Blinka==8.50.0
adafruit-circuitpython-ads1x15==2.4.2
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-neopixel==6.3.13
adafruit-circuitpython-pixelbuf==2.0.6
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.2
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.76.1
Adafruit-PureIO==1.1.11
annotated-types==0.7.0
arandr==0.1.10
astroid==2.5.1
asttokens==2.0.4
astunparse==1.6.3
audioread==3.0.1
automationhat==0.2.0
av==14.2.0
beautifulsoup4==4.9.3
binho-host-adapter==0.1.6
blinker==1.4
blinkt==0.1.2
buttonshim==0.0.2
Cap1xxx==0.1.3
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coloredlogs==15.0.1
colorzero==1.1
contourpy==1.3.0
cryptography==3.3.2
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.16
decorator==5.1.1
distro==1.5.0
dlib==19.24.99
docutils==0.16
drumhat==0.1.0
envirophat==1.0.0
evdev==1.9.1
ExplorerHAT==0.4.2
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.17.0
Flask==1.1.2
flatbuffers==20181003210633
fonttools==4.55.3
fourletterphat==0.1.0
fsspec==2025.2.0
gast==0.6.0
gevent==24.11.1
google-pasta==0.2.0
gpiozero==1.6.2
greenlet==3.1.1
grpcio==1.70.0
h5py==3.13.0
html5lib==1.1
humanfriendly==10.0
idna==2.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
isort==5.6.4
itsdangerous==1.1.0
jedi==0.18.0
jieba==0.42.1
Jinja2==2.11.3
joblib==1.4.2
keras==3.8.0
keyboard==0.13.5
kiwisolver==1.4.7
lazy-object-proxy==0.0.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
lxml==4.6.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==1.1.1
matplotlib==3.9.4
mccabe==0.6.1
mdurl==0.1.2
ml-dtypes==0.4.1
mote==0.0.4
motephat==0.0.3
mpmath==1.3.0
mpv==1.0.7
msgpack==1.1.0
mypy-extensions==0.4.3
namex==0.0.8
networkx==3.2.1
numba==0.60.0
numpy==2.0.2
oauthlib==3.1.0
olefile==0.46
onnxruntime==1.19.2
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
opt_einsum==3.4.0
optree==0.14.0
packaging==24.2
pandas==2.2.3
pantilthat==0.0.7
parso==0.8.1
pexpect==4.8.0
phatbeat==0.1.1
pianohat==0.1.0
piglow==1.2.5
pigpio==1.78
Pillow==8.1.2
platformdirs==4.3.6
pooch==1.8.2
protobuf==5.29.3
psutil==5.8.0
PyAudio==0.2.11
pycairo==1.16.2
pycocotools==2.0.8
pycparser==2.22
pycups==2.0.1
pydantic==2.10.5
pydantic_core==2.27.2
pydub==0.25.1
pyftdi==0.56.0
pygame==2.6.1
pygame-ce==2.5.3
pygame_gui==0.6.13
Pygments==2.19.1
PyGObject==3.38.0
pyinotify==0.9.6
PyJWT==1.7.1
pynput==1.8.1
pyOpenSSL==20.0.1
pyparsing==3.2.1
pypinyin==0.53.0
pyserial==3.5
pysmbc==1.0.23
python-apt==2.2.1
python-dateutil==2.9.0.post0
python-i18n==0.3.9
python-xlib==0.33
pytz==2024.2
pyusb==1.3.1
PyYAML==6.0.2
rainbowhat==0.1.0
reportlab==3.5.59
requests==2.25.1
requests-oauthlib==1.0.0
responses==0.12.1
rich==13.9.4
roman==2.0.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
RTIMULib==7.2.1
scikit-learn==1.6.1
scipy==1.13.1
screeninfo==0.8.1
scrollphat==0.0.7
seaborn==0.13.2
Send2Trash==1.6.0b1
simplejson==3.17.2
six==1.16.0
skywriter==0.0.7
smbus==1.1.post2
smbus2==0.5.0
sn3218==1.2.7
sounddevice==0.5.1
soundfile==0.13.0
soupsieve==2.2.1
soxr==0.5.0.post1
spidev==3.5
srt==3.5.3
ssh-import-id==5.10
sympy @ file:///home/li/Downloads/YOLOv5-Lite/sympy-1.13.1-py3-none-any.whl#sha256=53323f0bd0177b202c17e07c677422f18b44b1776bd2cecc6b674c1cfad2e970
sysv-ipc==1.1.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
tflite-runtime==2.13.0
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
toml==0.10.1
torch==2.6.0
torchvision==0.21.0
touchphat==0.0.1
tqdm==4.67.1
twython==3.8.2
typed-ast==1.4.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==1.26.5
vosk==0.3.45
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.8.0
websockets==14.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
